@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollable::-webkit-scrollbar {
    width: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}